.App {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("./cardbg.svg");
	background-size: contain;
	background-position: 50% 60%;
	background-repeat: no-repeat;
}

.loginCard {
	max-width: 520px;
	width: 100%;
	padding: 10px 16px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}

form {
	width: 100%;
	margin: 0 auto;
}

.input {
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid aqua;
}
